<div *ngFor="let car of ferrari">
    <div class="card border-0 g-0 text-white bg-dark" >
        <img src="{{ car.photo }}" class="img-fluid" alt="" srcset="" />
        <div
          class="
            card-img-overlay
            fs-1
            d-flex
            align-items-center
            justify-content-center
            bg-gradient
          "
        >
          <h1 class="card-title mt-5" *ngIf="displayText===true">
            {{ car.year }} {{ car.make }} {{ car.model }}
          </h1>
          <div class="alignButton d-flex justify-content-center align-items-end">
              <button class="btn btn-outline-warning-1" (click)="displayFerrari()" (click)="scroll()" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
                <div #target></div>
                INFO
              </button>
          </div>
        </div>
  </div>
      <div class="row d-flex align-content-center justify-content-around info border-0 g-0 d-flex"
      *ngIf="ferrariInfo"
      >
        <div class="col-3 ms-5 me-5">
           The F50 GT is a track car based on the Ferrari F50. The vehicle was ultimately scrapped and never raced due to homologation, the requirement that a certain number of road-legal models needed to be produced in order to race.  Powered by a {{ car.engine }} producing
          {{ car.horsepower }} horsepower, the car would have been a serious contender in the GT1 Race Group
        </div>
        <div class="col-2 ">
            0-60mph: {{ car.sixty }}
            <br />
            0-100mph: {{ car.hundred }}
            <br />
            Top Speed: {{ car.topSpeed }}
        </div>
        <div class="col-3 ">
          Curb Weight: {{ car.curbWeight }}
          <br />
          Power To Weight Ratio: {{ car.ptw }}
          <br />
        </div>
      </div>
  </div>
  