<div *ngFor="let car of diablo">
  <div class="card border-0 g-0 text-white bg-dark" (mouseenter)="mouseEnter('div a')" (mouseleave)="mouseLeave('div a')">
    <img src="{{ car.photo }}" class="img-fluid" alt="" srcset="" />
    <div
      class="
        card-img-overlay
        fs-1
        d-flex
        align-items-center
        justify-content-center
        bg-gradient
      "
    >
      <h1 class="card-title mt-5">
        {{ car.year }} {{ car.make }} {{ car.model }}
      </h1>
      <div class="alignButton d-flex justify-content-center align-items-end">
        <button
          class="btn btn-outline-warning-1"
          (click)="displayLambo()"
          (click)="scroll()"
        >
          <div #target></div>
          INFO
        </button>
      </div>
    </div>
  </div>
  <div
    class="
      row
      d-flex
      align-content-center
      justify-content-around
      info
      border-0
      g-0
      d-flex
    "
    *ngIf="diabloInfo"
  >
    <div class="col-10 mb-2 mb-sm-0 col-sm-4 ms-5 me-5">
      
        The Diablo VT is an upgraded version of the standard Diablo, the
        introduction of all wheel drive being the most notable change.
        Lamborghini began designing the Diablo in order to replace the
        <i> Countach </i>, the only requirement being that the car had to go at
        least 196 mph. The in-house {{ car.engine }} engine with {{ car.horsepower }} horsepower allowed it to do so.
      
    </div>
    <div class="col-10 col-sm-2 mb-2 mb-sm-0 ">
      0-60mph: {{ car.sixty }}
      <br />
      Top Speed: {{ car.topSpeed }}
    </div>
    <div class="col-10 col-sm-2 mb-2 mb-sm-0">
      Curb Weight: {{ car.curbWeight }}
      <br />
      Power To Weight Ratio: {{ car.ptw }}
      <br />
    </div>
  </div>
</div>
