<div *ngFor="let car of porsche">
    <div class="card border-0 g-0 text-white bg-dark" >
        <img src="{{ car.photo }}" class="img-fluid" alt="" srcset="" />
        <div
          class="
            card-img-overlay
            fs-1
            d-flex
            align-items-center
            justify-content-center
            bg-gradient
          "
        >
          <h1 class="card-title mt-5">
            {{ car.year }} {{ car.make }} {{ car.model }}
          </h1>
          <div class="alignButton d-flex justify-content-center align-items-end">
              <button class="btn btn-outline-warning-1" (click)="displayPorsche()" (click)="scroll()">
                <div #target></div>
                INFO
              </button>
          </div>
        </div>
  </div>
      <div class="row d-flex align-content-center justify-content-evenly info border-0 g-0 d-flex"
      id="porscheInfo"
      *ngIf="porscheInfo"
      >
        <div class="col-10 mb-2 mb-sm-0 ms-5 me-5">
          In order to compete in the GT2 class race of the FIA GT Championship, a certain amount of vehicles had to be produced and sold to the public. Thus, the Porsche 993 was born, powered by a {{ car.engine }} engine, capable of producing
          {{ car.horsepower }} horsepower.
        </div>
        <div class="col-10 mb-2 mb-sm-0 ms-5 me-5 ">
            0-60mph: {{ car.sixty }}
            <br />
            0-100mph: {{ car.hundred }}
            <br />
            Top Speed: {{ car.topSpeed }}
        </div>
        <div class="col-10 mb-2 mb-sm-0 ms-5 me-5">
          Curb Weight: {{ car.curbWeight }}
          <br />
          Power To Weight Ratio: {{ car.ptw }}
          <br />
        </div>
      </div>
  </div>
  