<div *ngFor="let car of toyota">
    <div class="card border-0 g-0 text-white bg-dark">
      <img src="{{ car.photo }}" class="img-fluid" alt="" srcset="" />
      <div
        class="
          card-img-overlay
          fs-1
          d-flex
          align-items-center
          justify-content-center
          bg-gradient
        "
      >
        <h1 class="card-title mt-5">
          {{ car.year }} {{ car.make }} {{ car.model }}
        </h1>
        <div class="alignButton d-flex justify-content-center align-items-end">
          <button
            class="btn btn-outline-warning-1"
            (click)="displayToyota()"
            (click)="scroll()"
          >
            <div #target></div>
            INFO
          </button>
        </div>
      </div>
    </div>
    <div
      class="
        row
        d-flex
        align-content-center
        justify-content-around
        info
        border-0
        g-0
        d-flex
      "
      *ngIf="toyotaInfo"
    >
      <div class="col-3 ms-5 me-5">
      In the early days, the World Rally Championship was dominated by European manufacturers. When introduced, the Celica GT-Four was the first Japanese manufactured car with 
      all wheel drive and a {{ car.engine }} engine to enter and win. It was Toyota's most successful rally car, accumulating four victories in 1992, WRC championships in '93 and '94, and it won the '96 European Rally Championship.
      </div>
      <div class="col-2">
        0-60mph: {{ car.sixty }}
        <br />
        Top Speed: {{ car.topSpeed }}
      </div>
      <div class="col-3">
        Curb Weight: {{ car.curbWeight }}
        <br />
        Power To Weight Ratio: {{ car.ptw }}
        <br />
      </div>
    </div>
  </div>
  