body {
    margin: 0;
}
.format {
    /* border: 2px dashed pink; */
    cursor: pointer;
    display: flex;
    align-items: center;
    /* height: 97vh; */
    justify-content: space-around;
}


.flagRow {
    /* border: 2px solid red; */
}

input :active, :focus {
    box-shadow: none !important;
}

.recommendForm {
    /* border: 2px dashed violet; */
    z-index: 1;
    margin-top: 4px;
    height: auto;
    margin-bottom: -5px;
}
p > .year { /* These p tags change the color of the recommended cars*/
    color: green;
}
p > .make {
    color: #bc002d;
}
p > .model {
    color: #FFCC00;
}

.flag { /* German Flag*/
    align-self: center;
    background:linear-gradient(to top, #FFCC00 0, #FFCC00 33%, #FF0000 33%, #FF0000 66%, black 66%, black 100%);
    /* display: block; */
    height: 380px;
    width: 500px;
}


.italian { /* Italian Flag */
    /* border: 2px solid purple; */
    height: 380px;
    width: 480px;  
    background:linear-gradient(to right, green 0, green 33%, white 33%, white 66%, #ff0000 66%, #ff0000 100%);
    /* background-size: auto 100%; */
    /* background-position: center;
    background-size: 100% 100%; */
    /* margin: 3px; */
    justify-self: center;
    align-self: center;
    align-items: center;
    justify-content: center;
}



.container-fluid {
    /* border: 10px solid green; */
}
.italyFlagContainer{
    border: 2px solid green;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

.top {
    /* height: 0vh; */
}


.japan{
    background-color: #bc002d;
    border-radius: 50%;  /*Makes this a circle*/
    height: 420px;
    width: 420px;
    /* order: 100; */
    display: block;
    /* position: absolute; */
}

@media (max-width: 768px) {
    .italian {
        height: 200px;
        width: 300px;
    }
    .japan {
        height: 275px;
        width: 275px;
    }
    .flag {
        height: 200px;
        width: 320px; 
    }
}


@media only screen and (min-width:1201px) and (max-width:1467px){
    .italian {
        height: 200px;
        width: 350px;
    }
    .japan {
        height: 275px;
        width: 275px;
    }
    .flag {
        height: 200px;
        width: 320px; 
    }
}



.hide {
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .6s;
}
.format:hover .hide {
        visibility: visible;
        opacity: 1;
}

.italian .hide {
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.japan .hide {
    color: #bc002c;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
 .flag .hide {
    color: red;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h1 {
    font-family: 'Encode Sans SC', sans-serif;
}

.btn-sm {
    border: 2px solid green;
    height: 25px
}