/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Encode Sans SC', sans-serif; 
}
h1 {
    font-family: 'Titillium Web','Encode Sans SC', sans-serif;   
}

.card-title {
    font-size: 3.5em;
    text-align: center;
}

@media (max-width: 768px) {
    .card-title {
        font-size: 1.4em;
    }
    .btn-outline-warning-1 {
        margin: -42px;
        padding: 3px;
        font-size: 6px;
    }
    .info {
        font-size: .8em;
        line-height: 98%;
    }
}

.mySmallClass {

}

.info{
    font-family: 'Titillium Web','Encode Sans SC', sans-serif; 
}


.img-fluid {
    height: auto;
    width: auto;
}

.alignButton {
    width: 100%;
    height: 40%;
    display: flex;
    position: absolute;
    color: white;
    font-size: 20px;
}


.btn-outline-warning-1 {
    border: 1px solid #e62e3a;
    background-color: rgba(0, 0, 0, 0.431);
    color: #e62e3a;
}
.btn-outline-warning-1:hover{
    background-color: rgba(0, 0, 0, 0.856);
    color: #e62e3a;
}

.btn-outline-warning-1:active, :focus{
    outline: 0px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.568) !important;

}

.info {
    background-color: 	#C91823;
    color: white;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bg-gradient {
    background-attachment: fixed;
    --bs-gradient: linear-gradient(0 , rgb(17 17 17 / 49%), rgb(255 255 255 / 0%));
}
